@page "/customers/{id:int}"
@inject IAsyncCustomerService Api

<h3>Edit</h3>

Id = @Id

@if (customer is null)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <EditForm Model="@customer" FormName="CustomerForm">
        <MudGrid>
            <MudItem xs="12" sm="7">
                <MudCard>
                    <MudCardContent>
                        <MudTextField Label="Nazwa" @bind-Value=@customer.Name For="@(()=>customer.Name)" />
                        <MudTextField Label="Email" @bind-Value=@customer.Email For="@(() => customer.Email)" />
                        <MudCheckBox Label="Archiwalny" @bind-Value=@customer.IsArchived Color="Color.Primary" />
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </EditForm>
}

@code {

    [Parameter]
    public int Id { get; set; }

    private Customer? customer;

    protected override async Task OnParametersSetAsync()
    {
        customer = await Api.GetById(Id);
    }

}
