@page "/customers/archive"
@inject IAsyncCustomerService Api

<h3>Archive List Customers</h3>

@if (@customers is null)
{
    <p>Loading...</p>
}
else
{
    <CustomersTable Customers=@customers />
}



@code {

    private List<Customer>? customers;

    protected override async Task OnInitializedAsync()
    {
        customers = await Api.GetArchive();
    }

}
