@page "/customers/archive"

<h3>Archive List Customers</h3>

<CustomersTable Customers="@customers" />


@code {

    private List<Customer> customers = [];

    protected override void OnInitialized()
    {
        customers = new List<Customer>
        {
            new Customer { Id = 1, Name = "a", Email = "a@domain.com"},
            new Customer { Id = 2, Name = "b", Email = "b@domain.com"},
            new Customer { Id = 3, Name = "c", Email = "c@domain.com", IsArchived = true },
        };

        customers = customers.Where(c => c.IsArchived).ToList();
    }

}
