@page "/customers"

<Header><img src="/favicon.png" /> Customers List</Header>

<p>@message</p>

<p>@GetCurrentDate()</p>

<CustomersTable Customers=@customers  />


@code {

    private string message = "Lorem ipsum...";

    private List<Customer> customers = [];

    private DateTime GetCurrentDate()
    {
        return DateTime.Now;
    }

    protected override void OnInitialized()
    {
        customers = 

        customers = customers.Where(c => !c.IsArchived).ToList();
    }
}