@page "/customers"
@inject HttpClient http

<Header><img src="/favicon.png" /> Customers List</Header>

<p>@message</p>

<p>@GetCurrentDate()</p>

@if (@customers is null)
{
   <p>Loading...</p>
}
else
{
    <CustomersTable Customers=@customers  />
}


@code {

    private string message = "Lorem ipsum...";

    private List<Customer>? customers;

  

    private DateTime GetCurrentDate()
    {
        return DateTime.Now;
    }

    protected override async Task OnInitializedAsync()
    {
        // TODO: wyslij request
        customers = await http.GetFromJsonAsync<List<Customer>>("api/customers");

        customers = customers.Where(c => !c.IsArchived).ToList();
    }
}