@using Domain.Models

<ItemsTable Items="@Customers" Context="item" >
    <HeaderTemplate>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </HeaderTemplate>

    <RowTemplate>
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
        </tr>
    </RowTemplate>
</ItemsTable>

@code {

    [Parameter]
    public List<Customer> Customers { get; set;  }

}
